// Add any custom Sass & CSS here

#mainContent {
  margin-top: 10px;
}

.list{
	margin-top: 20px;
	margin: 0 auto;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/** top section **/
.top-section{
	border: 3px solid $base-color;
	height: 65px;
	both: clear;
	display: block;
}

/** navigation **/
.nav{
	top: 0px;
	float: right;
	background-color: $base-color;
	margin-bottom: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	ul{
	list-style-type: none;
    margin: 0;
    border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-left-radius: 5px;
	}
	li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	color: white;
	font-size: 25px;
	border-right: 3px solid $complement-color;
	}
	a{
	color: white;
	}
}

/** title **/
.title{
	/* position */
	float: left;

	/* colors */
	color: $base-color;
	font-size: 33px;
	font-weight: bold;


	/* margins */
	margin-left: 18px;
	margin-top: 8px;
}

/** search **/

#searchRow {
  margin: 15px;
}


.search-bar{
	overflow: hidden; 
	margin-top: 30px;
	margin: 0 auto;
	width: 90%;
	padding-right: 0.2em;
	padding-left: 0.4em;
	z-index: 2;
}
.fi-magnifying-glass{
/**	float: right; **/
	float: right;
	margin-right:38px;
	padding-top: 3px;
	font-size: 25px;
}



/** list of organizations **/


#search-content{
	margin-top: 50px;
	clear: both;
/*	height: 120px;*/
}

#org-menu{
	a{
		color: black;
	}
}


/** category searching for organizations */
.category-titles{
	margin-top: 20px;
	text-align: center;
	clear: both;
	ul{
		list-style: none;
	}
	/** styling **/
	.category-tag-mid{
		margin-left: 2px;
		margin-right: 2px;
	}
	li{
		display: inline-block;
		padding: 10px 10px 10px 10px;
		margin-left: 2px;
		margin-right: 2px;

		cursor: pointer;
		/* text */
		color: white;
		font-size: 18px;
		background-color: $orange-color;
		border-radius: 10%;
	}
}
.org-list{
	list-style: none;
	overflow: scroll;
	height: 150px;
	margin-top:50px;

	h2{
	font-size: 18px;
	text-transform: uppercase;
	}
	li{
	/* margins and padding */
	margin-bottom: 10px;
	width: 70%;

	/* size */
	min-height: 100px;

	/* border */
	border: 2px solid $base-color;
	box-shadow: 2px 2px 1px #888888;
	}

}
.panel{
	margin-top: 20px;
}

/*//.org-list{
//	list-stfyle: none;
//	h2{
//	font-size: 18px;
//	text-transform: uppercase;
//	}
//	li{
//	
//	margin-top: 10px;
//	margin-bottom: 10px;
//	padding: 5px 5px 5px 5px;
//	width: 70%;
//
//	
//	border: 2px solid $base-color;
//	box-shadow: 2px 2px 1px #888888;
//	}
//
//}*/
.add-org-form{
	margin: 0 auto;
	margin-top: 80px;
	width: 300px;
	color: black;
	#submit-button{
		margin-top: 10px;
		border: 1px solid $orange-color;
	}
}
#addorg{
	margin-top: 5px;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
	width: 110px;
	border-radius: 10%;
	cursor: pointer;
	/* text */
	color: white;
	font-size: 18px;
	background-color: $orange-color;
	vertical-align: text-top;
}

/* ==========  Select Field ========== */

/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  color: black;
  border: none;
  border-bottom: 1px solid black;
}

/* Remove focus */
select:focus {
  outline: none}

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */

.mdl-selectfield {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
    &:after {
        position: absolute;
        top: 0.75em;
    }
}
/** organization grid **/
#org-bucket{
	/* font */
	font-size: 18px;

	/* placement */
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;

	/* border */
	border: 3px solid $base-color;

	/* alignment */
	text-align: center;

	/* line height */
	line-height: 60px;

	/** share **/
	#share{
		margin-bottom: 2px;
		vertical-align: top;
		text-align: center;
	}

	/** radio buttons **/
	.radio-buttons{
	margin: 0 auto;
	width: 80%;
	}
	.options{
	/* alignment */
	vertical-align: top;
	display: inline-block;
	margin-left: 20px;

	/* padding and margins */
	padding-left: 5px;
	margin: 0 auto;
	}

	#leave-button{
		/* placement */
		margin-top: 5px;
		float: right;

		/* border */
		border-radius: 70%;

		/* text */
		color: white;
		font-size: 18px;
		background-color: $cranberry-color;
	}
}

.org-grid{
	margin: 0 auto;
	width: 100%;
}

#org-grid{
	/**height: 1000px;
	overflow: scroll;**/
}

#event-grid{
	height:1000px;
	overflow: scroll;
}
/** student grid **/
/*//.org-grid{
//	margin: 0 auto;
//	width: 80%;
//}*/

.card {
  margin: 5px;
  overflow: hidden;
  #descrip{
  	overflow: hidden;
  }
}

/** edit org **/
.edit-org-card{
	margin-top: 40px;
	input{
		color: black;
		background-color: white;
	}
}

#stud-bucket{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	border: 3px solid $base-color;
	min-height: 125px;
	text-align: center;
	line-height: 60px;
}
#student-page{
	clear: both;
	margin: 0 auto;

	#add-button{
	/* placement */
	margin: 0 auto;
	margin-right: 47%;
	padding: 2px 2px 2px 2px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 20px;

	/* size */
	height: 35px;
	width: 140px;

	/* text */
	color: white;
	font-size: 18px;
	background-color: $cranberry-color;
	}
}
.stud-grid{
	margin-top: 50px;
	margin: 0 auto;
	margin-left: 100px;
	width: 100%;
}

span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
/** slider **/
.event-content{
	/* borders */
	border-top: 3px solid $melon-color;
	border-bottom: 3px solid $melon-color;
	
	/* placement */
	height: 180px;
	margin-top: 90px;
	padding-top: 15px;
	z-index: 10;
	position: relative;

	/* colors */
	background-color: white;
	color: black;

}
.event-content :after{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    top:2px;
    left:0px;
    right:0px;
    bottom:2px;
    border-top:3px solid $pink-color;
    border-bottom:3px solid $pink-color;
}
.full-date{
	margin-top: 20px;

	.topdate{
	}
}
.date{
	background-color: white;
	color: $orange-color;
	font-size: 20px;
	text-transform: uppercase;
	padding: 1px 1px 1px 0px;
	vertical-align: middle;
	margin-left: 3px;
	text-align: center;


	#month{
		text-transform: uppercase;
		font-size: 30px;
	}
	#day{
		vertical-align: bottom;
		font-size: 40px;
	}
	#year{
		vertical-align: middle;
	}
}
#event-info{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	margin-top: 40px;

	#cal{
	font-size: 25px;
	vertical-align: middle;
	padding-top: 8px;
	color: $orange-color;
	}

	i{
	font-size: 40px;
	vertical-align: middle;
	padding-top: 8px;
	color: $orange-color;
	}
}

.demo-card-event.mdl-card {
  background: #3E4EB8;
  margin-bottom: 30px;
  width: 700px;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.card{
	margin: 0 auto;
	margin-top: 150px;


}


.crsl{

	/* margins */
	margin: 0px auto;
	width: 100%;

	/* colors */
	background-color: white;
	list-style-type: none;
	text-align: center;

	/* margins */

	img{
		margin: auto;
		width: 400px;
		height: 800px;
	}

	div{
		width: 100%;
		/* positioning */
		margin: 0px auto;
		text-align: center;
		
	}
	.slick-prev:before, .slick-next:before{
    	color: white;
    }
}

/** Add student **/
.add-student-view{
   h1{
   	text-align: center;
   	font-weight: bold;
   	font-size: 20px;
   	text-transform: uppercase;
   	color: $cranberry-color;
   	margin: auto;
   	clear: both;
   }
   /* button */
   	#submit-button{
	/* placement */
	margin: auto;
	width: 100px;
	padding: 2px 2px 2px 2px;
	border: 2px solid $orange-color;
	margin-top: 15px;
	clear: both;

	/* text */
	color: white;
	text-align: center;
	font-size: 20px;
	background-color: $cranberry-color;
	}
  /* form styling */
  .required:after { content:"*"; color: red; display: inline; clear: both;}
  .required{
  	input{
  	background-color: rgba(255,0,0,0.1);
  	color: black;
  	}
  }
  input{
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
  }
  label{
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  margin-right: 20px;
  }
  }

  /** select **/
#org-select{
  	height: 70px;
  }
/** calendar **/
.dropdown-menu{
	a{
		background-color: $orange-color;
		padding: 3px 3px 3px 3px;
		border-radius: 10%;
		color: white;
	}
	list-style-type: none;
	li{
		color: red;
	}
}

/* profile */
.well{
	margin: 0 auto;
	width: 80%;
	margin-top: 10px;
}

/** event list **/

	#cal{
		margin-left: 5px;
		color: black;
	}

/** styling for form **/
/*Disable MDL validation styles*/

.mdl-textfield.is-invalid .mdl-textfield__input {
		border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
		color: rgba(0, 0, 0, .26);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
		color: rgb(63, 81, 181);
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
		background-color: rgb(63, 81, 181);
}
/*Validation styles based on MDL*/

.ng-invalid.ng-invalid.ng-touched {
		border-color: rgb(222, 50, 38);
		box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched + label {
		color: rgb(222, 50, 38);
		font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched + label:after {
		background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched ~ .mdl-tooltip--validation {
		background-color: rgb(222, 50, 38);
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus {
		border-color: rgb(255, 193, 7);
		box-shadow: none;
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus + label {
		color: rgb(255, 193, 7);
		font-size: 12px;
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus + label:after {
		background-color: rgb(255, 193, 7);
}

.ng-invalid.ng-invalid.ng-touched.ng-dirty:focus ~ .mdl-tooltip--validation {
		background-color: rgb(255, 193, 7);
}

.ng-invalid.ng-touched:not(:focus) + label::before {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		/* Preferred icon size */
		
		display: inline-block;
		width: 1em;
		height: 1em;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		/* Support for all WebKit browsers. */
		
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		
		text-rendering: optimizeLegibility;
		/* Support for Firefox. */
		
		-moz-osx-font-smoothing: grayscale;
		/* Support for IE. */
		
		font-feature-settings: 'liga';
		content: "warning";
		position: absolute;
		right: 0;
		bottom: 20px;
}

.ng-valid.ng-touched:not(:focus) + label::before {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		/* Preferred icon size */
		
		display: inline-block;
		width: 1em;
		height: 1em;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		/* Support for all WebKit browsers. */
		
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		
		text-rendering: optimizeLegibility;
		/* Support for Firefox. */
		
		-moz-osx-font-smoothing: grayscale;
		/* Support for IE. */
		
		font-feature-settings: 'liga';
		content: "done";
		position: absolute;
		right: 0;
		bottom: 20px;
}
/*Basic styles*/

.list-unstyled {
		padding-left: 0;
		list-style: none;
}


.sameSize{
     display: flex;
    flex-wrap: flex;
}