// Add any custom Sass & CSS here
.list{
	margin-top: 20px;
	margin: 0 auto;
}
body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/** navigation **/
.nav{
	top: 0px;
	float: right;
	background-color: $base-color;
	margin-bottom: 40px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	ul{
	list-style-type: none;
    margin: 0;
    border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-left-radius: 5px;
	}
	li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	color: white;
	font-size: 25px;
	border-right: 3px solid $complement-color;
	}
	a{
	color: white;
	}
}

.search-bar{
	overflow: hidden; 
	padding-right: .5em;
}
.fi-magnifying-glass{
	float: right;
	padding-top: 3px;
}

/** list of organizations **/

#search-content{
	margin-top: 40px;
	clear: both;
}
.org-list{
	list-style: none;
	h2{
	font-size: 18px;
	text-transform: uppercase;
	}
	li{
	/* margins and padding */
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	width: 70%;

	/* border */
	border: 2px solid $base-color;
	box-shadow: 2px 2px 1px #888888;
	}

}

/** organization grid**/
#org-bucket{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	border: 3px solid $base-color;
	text-align: center;
	line-height: 100px;

	/** share **/
	#share{
		margin-bottom: 2px;
		vertical-align: top;
	}

	/** radio buttons **/
	.options{
	vertical-align: top;
	display: inline-block;
	padding-left: 5px;
	margin: 0 auto;
	}

	#leave-button{
		float: right;
	}
}
.org-grid{
	margin: 0 auto;
	width: 100%;
}

/** student grid **/
#stud-bucket{
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	border: 3px solid $base-color;
	height: 100px;
	text-align: center;
	line-height: 100px;
}
#student-page{
	clear: both;
	margin: 0 auto;
}
.stud-grid{
	margin-top: 50px;
	margin: 0 auto;
	margin-left: 100px;
	width: 100%;
}

span{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
}
/** slider **/
.event-content{
	border-top: 2px solid $melon-color;
	border-bottom: 2px solid $melon-color;
}
.crsl{
	/* dimensions */

	/* margins */
	margin: 0px auto;
	width: 100%;

	/* colors */
	background-color: white;

	/* margins */
	margin-bottom: 150px;
	margin-top: 150px;

	img{
		margin: auto;
		width: 400px;
		height: 400px;
	}

	div{
		width: 100%;

		/* positioning */
		margin: 0px auto;
		text-align: center;
		
	}
	.slick-prev:before, .slick-next:before{
    	color: white;
    }
}