// Insert your variables
$base-color: #8BCBC8;
$complement-color: #DAE9E4;
$complement-color-light: #7BD4CC;
$melon-color: #FDAE84;
$pink-color: #ECC7C0;
$cranberry-color: #3C2E3D;
$orange-color: #FF5722;