<div class="list">		
<center>
<div class="row" id="search-content">
	<i class="fi-magnifying-glass"></i>
	<div class="search-bar">
    <input class="span4 pull-right" id="search-input" type="text" placeholder="Search for organization by name" ng-model="query">
    </div>
</div>
<div class="row">
	<div class="org-list">
	<li ng-repeat="org in organizations | filter: searchOrganizations">
	<panel>
	<h2>Name: {{ org.name }}</h2> 
	</panel>
	</li>
	</div>
    <!-- slider -->
	  <div class="slide-container">
	  <div class="crsl" >
	  	<div ng-repeat="event in events">
	  	<div class="event-content">
	  	<div>{{ event.name }}</div>
	  	<div>{{ event.description }}</div>
	  	<div>{{ event.date }}</div>
	  	</div>
	  	</div>
	  </div>
	  </div>

	<!-- end slider -->
</div>
</center>
</div>