<div class="list">		
<center>
<div class="row">
    <input class="span4 pull-right" type="text" placeholder="Search for event by name" ng-model="query">
</div>
<div class="row">
    <table id="results" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="event in events | filter: search ">
            <td id="name">{{event.name}}</td>
            <td id="description">{{event.description}}</td>
            <td id="date">{{event.date}}</td>
        </tr>
        </tbody>
    </table>
</div>
</center>
</div>