<div class="row">

<div class="column">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <!-- LOGIN FORM -->
    <form ng-submit="submitLogin()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="newStudent.netId">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="newStudent.password">
        </div>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</button>
        <a href="#/signup" class="mdl-button mdl-js-button mdl-button--primary">Signup</a>
    </form>
</div>

</div>