<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile </h1>
    </div>

    <div class="row">
      <!-- PROFILE INFORMATION -->
      <center>
      <div class="well" ng-show="profile">
              <p>
                  <strong>email</strong>: {{user.email}}<br>
                  <strong>password</strong>: {{user.password}}
              </p>
      </div>
      </center>
    </div>

    <div class="jumbotron text-center" ng-hide="profile">
        <a href="#/login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</a>
        <a href="#/signup" class="mdl-button mdl-js-button mdl-button--primary">Signup</a>
    </div>
    <div class="jumbotron text-center">
        <a ng-href="#/home" ng-click="userLogout()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show="profile">Logout</a>
    </div>

</div>