<div class="row">

<div class="column">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- LOGIN FORM -->
    <form ng-submit="submitSignup()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" ng-model="newStudent.netId">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" ng-model="newStudent.password">
        </div>
        <div class="dropdown">
        <select class="ui fluid search dropdown" multiple="" ng-options="org.value as org.label for org in orgs">
        </select>
        </div><br><br>

        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Signup</button><a href="#/login" class="mdl-button mdl-js-button mdl-button--primary">Login</a>
    </form>

</div>

</div>