<div class="container" ng-controller="profileController">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile</h1>
        <div class="jumbotron text-center" ng-hide="profile">
            <a href="#/login" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</a>
            <a href="#/signup" class="mdl-button mdl-js-button mdl-button--primary">Signup</a>
        </div>

    </div>

    <div class="row">
      <!-- PROFILE INFORMATION -->
      <div class="well" ng-show="profile">
        <center>
              <p>
                  <!--<strong>id</strong>: {{student._id}}<br>-->
                  <strong>email</strong>: {{ user.email }}<br>
                  <strong>password</strong>: {{ user.password }}
              </p>
            </center>
      </div>
    </div>
    <center>
    <a href="/logout" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" ng-show="profile">Logout</a>
    </center>
</div>